[submodule "product_viscosity"]
	path = product_viscosity
	url = https://github.com/humanytek-team/product_viscosity
[submodule "stock_filter_customer_supplier"]
	path = stock_filter_customer_supplier
	url = https://github.com/humanytek-team/stock_filter_customer_supplier
[submodule "export_complements"]
	path = export_complements
	url = https://github.com/humanytek-team/export_complements
[submodule "partner_credit"]
	path = partner_credit
	url = https://github.com/humanytek-team/partner_credit
[submodule "raloy_carta_porte"]
	path = raloy_carta_porte
	url = https://github.com/humanytek-team/raloy_carta_porte
[submodule "raloy_contact_fiscal_position"]
	path = raloy_contact_fiscal_position
	url = https://github.com/humanytek-team/raloy_contact_fiscal_position
